body {
	margin: 0;
	background-image: url(../images/Orange-County.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
	height: 425px;
  }
  

nav {
	width:100%;
	margin-left: 10px;
	margin-right: 10px;
	color:white;
}

#title-head {
	color: white;
	
}

.jumbotron {
	margin-left: 27%;
	background: none;
	color: white;
	position: relative;
	top: 30%;
}

.quiz-items {
	display: block;
	background-color: #ddd;
	color: black;
	margin-left: 30%;
	width: 40%;
	margin-top: 10%;
}
#question-text {
	text-align: center; 
	
}
.option-div {
	text-align: center; 
}

.option-here {
	margin: 7px;
}

.city {
	text-align: center; 
}
.option-div {
	display: inline;
}
.submit-div {
text-align: center;
margin-top: 10px;
padding-bottom: 5px;
}
.nav-link {
	color:white;
}
.instruction-list {
border-bottom: solid black;
}