body {
	margin: 0;
	
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
	height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  /* html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  } */

nav {
	width:100%;
	margin-left: 10px;
	margin-right: 10px;
}

#title-head {
	color: white;
	
}

.jumbotron {
	margin-left: 20%;
}
.quiz-items {
	display: block;
	background-color:#ddd;
	margin-left: 29%;
	width: 40%;
	position: absolute;
    top: 200px;
	margin-bottom: 10px;
}
#question-text {
	/* margin:inherit ; */
	text-align: center; 
	
}
.option-div {
	/* margin: inherit; */
	text-align: center; 
}

.option-here {
	margin: 7px;
	
}

.city {
	text-align: center; 
}
.option-div {
	display: inline;
}
.submit-div {
text-align: center;
margin-top: 20px;
}

